.toggle-switch,
.toggle-switch__tongue {
  box-sizing: border-box;
}

.toggle-switch {
  display: inline-block;
  border: 1px solid #ccc;
  height: 34px;
  border-radius: 34px;
  min-width: 68px;
  position: relative;
  background-color: rgba(230, 230, 230, 0.4);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
}

.toggle-switch__tongue {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 34px;
  font-weight: 400;
  width: 34px;
  height: 34px;
  border-radius: 34px;
  border: 1px solid #ccc;
  margin: -1px -1px 0 -1px;
  text-align: center;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 1px #fff;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.toggle-switch__checkbox {
  display: none;
}

.toggle-switch--on > .toggle-switch__tongue {
  left: 100%;
  margin-left: -33px;
  background-color: rgba(92, 184, 92, 0.7);
}

.toggle-switch--on:hover > .toggle-switch__tongue {
  background-color: rgba(92, 184, 92, 0.85);
}

.toggle-switch--off > .toggle-switch__tongue {
  left: 0;
  background-color: rgba(217, 83, 79, 0.7);
}

.toggle-switch--off:hover > .toggle-switch__tongue {
  background-color: rgba(217, 83, 79, 0.85);
}
